# $about.title$

$about.description$

[![license][license-img]][license-url]
[![release][release-img]][release-url]

$body$

----
> Author: [Ahmad Nassri](https://www.ahmadnassri.com/) &bull;
> Twitter: [@AhmadNassri](https://twitter.com/AhmadNassri)

[license-url]: LICENSE
[license-img]: https://badgen.net/github/license/$about.repository$

[release-url]: https://github.com/$about.repository$/releases
[release-img]: https://badgen.net/github/release/$about.repository$
