name: test

on:
  push:
    branches-ignore:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: action

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.1
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: client-${{ hashFiles('**/package-lock.json') }}

      # run test
      - run: npm ci
      - run: npm run test:100
